<form action="">
    <label for="">Nhập Họ và Tên Lót</label><br>
    <input type="text" name="ho" placeholder="Họ" class="form-control"> <br>
    <label for="">Nhập tên</label> <br>
    <input type="text" name="ten" placeholder="Tên" class="form-control"><br>
    <label for="">Nhập Ngày Sinh</label><br>
    <input type="text" name="ngaysinh" placeholder="Ngày Sinh" class="form-control"><br>
    <label for="">Nhập phái</label> <br>
    <input type="text" name="phai" placeholder="Phái" class="form-control"><br>
    <label for="">Nhập khu vực</label> <br>
    <input type="text" name="khuvuc" placeholder="Khu Vực" class="form-control"><br><hr>
    <button type="submit" class="btn btn-primary">Thêm</button>
</form>