<form action="">
    <label for="">Nhập Tên Dự Án</label><br>
    <input type="text" name="tenduan" placeholder="Tên dựa án" class="form-control"> <br>
    <label for="">Nhập ngày Start</label> <br>
    <input type="text" name="ngay" placeholder="ngày bắt đầu" class="form-control"><br>
    <label for="">Nhập số tiền</label><br>
    <input type="text" name="tien" placeholder="dự án phí" class="form-control"><br>
    <label for="">Nhập Leader</label> <br>
    <input type="text" name="leader" placeholder="Leader của dự án" class="form-control"><br>
    <label for="">Nhập Thành Viên</label> <br>
    <input type="text" name="thanhvien" placeholder="Thành viên tham gia" class="form-control"><br><hr>
    <button type="submit" class="btn btn-primary">Thêm</button>
</form>
