<div class="container">
  <nav id="thanhmenu" class="bg-success" style="height: 60px;">
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">Quản Lý Dự Án</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#" routerLink="/">Bảng Điều Khiển</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Giới Thiệu</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </nav>
  <nav id="breadcrump" class="bg-warning-subtle" style="height: 57px;">
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
      <div class="container-fluid">
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                aria-expanded="false">
                Quản Lý Dự Án
              </a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#" routerLink="/du_an/them">Thêm Dự Án</a></li>
                <li><a class="dropdown-item" href="#" routerLink="/du_an">Danh Sách Dự Án</a></li>
              </ul>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                aria-expanded="false">
                Quản Lý Nhân Viên
              </a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#" routerLink="/nhan_vien/them">Thêm Nhân Viên</a></li>
                <li><a class="dropdown-item" href="#" routerLink="/nhan_vien">Danh Sách Nhân Viên</a></li>
              </ul>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                aria-expanded="false">
                Quản Lý Task
              </a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#" routerLink="/task/them">Thêm Task</a></li>
                <li><a class="dropdown-item" href="#" routerLink="/task">Danh Sách Task</a></li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </nav>
  <main class="d-flex" style="min-height: 300px;">
    <article class="col-md-12 bg-info-subtle" id="cottrai">
      <router-outlet>   
      </router-outlet>
    </article>
  </main>

  <footer class="bg-success" style="height: 45px;"></footer>

</div>