<form action="">
    <label for="">Nhập tên Task</label><br>
    <input type="text" name="tentask" placeholder="Tên Task" class="form-control"> <br>
    <label for="">Nhập dự án id</label> <br>
    <input type="text" name="id_duan" placeholder="dự án id" class="form-control"><br>
    <label for="">Nhập nhân viên id</label><br>
    <input type="text" name="id_nhanvien" placeholder="nhân viên id" class="form-control"><br>
    <label for="">Nhập mô tả dự án</label> <br>
    <input type="text" name="mota" placeholder="mô tả dự án" class="form-control"><br>
    <label for="">Nhập trạng thái dự án</label> <br>
    <input type="text" name="status" placeholder="trạng thái" class="form-control"><br>
    <label for="">priority</label> <br>
    <input type="text" name="priority" placeholder="priority" class="form-control"><br><hr>
    <button type="submit" class="btn btn-primary">Thêm</button>
</form>
<!-- 
git add . (thêm file vào trong git)
git status (xem trạng thái, lịch sử)
git commit - m (ghi chú)
git remote -v (kiểm tra kết nối với github)
git push origin main (đẩy code mới lên github)
 -->